[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
cdktf = "~=0.17.1"
pytest = "*"
cdktf-cdktf-provider-aws = "~=16.0.6"
cdktf-cdktf-provider-azurerm = "~=9.0.6"
